[user]
  name = Yasuhisa Yoshida
  email = syou6162@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  co = checkout
  ci = commit -v
  st = status -s -b --ignore-submodules=dirty
  br = branch
[core]
  excludesfile = ~/.gitexclude
  editor = /usr/local/bin/vim
[pull]
  rebase = preserve
[merge]
  ff = false
[include]
  path = ~/.gitconfig.local
[ghq]
  root = ~/.ghq
  root = ~/go/src
  root = ~/Desktop/work
  root = ~/Desktop/hatena
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
[http]
	sslVerify = true
[commit]
  verbose = true
