[user]
  name = Yasuhisa Yoshida
  email = syou6162@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  co = checkout
  ci = commit -v
  st = status -s -b --ignore-submodules=dirty
  br = branch

  default-branch = "!git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@' || (git show-ref --verify --quiet refs/remotes/origin/main && echo 'main') || echo 'master'"
  worktree-add = "!f() { git worktree add ../${1//\\//-} -b $1 origin/$(git default-branch); }; f"
  worktree-clean = "!f() { branch=${1:-$(basename $(pwd))}; main_dir=$(git rev-parse --show-toplevel); cd $main_dir && git worktree remove ../$branch && git branch -D $branch; }; f"
[core]
  excludesfile = ~/.gitexclude
  editor = vim
[pull]
  rebase = false
[merge]
  ff = false
[include]
  path = ~/.gitconfig.local
[ghq]
  root = ~/.ghq
  root = ~/go/src
  root = ~/work
  root = ~/10xinc
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
[http]
  sslVerify = true
[commit]
  verbose = true
