[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/elisp/clojure-mode"]
	path = .emacs.d/elisp/clojure-mode
	url = https://github.com/jochu/clojure-mode.git
[submodule ".emacs.d/elisp/paredit-mode"]
	path = .emacs.d/elisp/paredit-mode
	url = https://github.com/emacsmirror/paredit.git
